/* Colores */
$colorFondo1: #FF9100;
$colorFondo2: #555;
$colorFondoClaro: #DDDDDD ;

$colorLetraClaro: #fff;
$colorLetraOscuro: #333;

/* Fuentes */
$font-family: 'Montserrat', sans-serif;

/*Tamaños de letra */
$fontMuyPeque: 9px;
$fontPeque: 11px;
$fontNormal: 14px;
$fontGrande: 20px;
$fontMuyGrande: 30px;

/*Generales*/
$padding:20px;
