<div class='container'>
  <div class='row'>
    <div class='col-12'>
      <h1>de lo bizarro, lo raro y lo bello</h1>
    </div>
    <div class='col-4'>
      <%= image_tag("/assets/ico_inicio.png", alt: "de lo bizarro, lo raro y lo bello",class:"img-fluid") %>
    </div>

    <div class='col-8'>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et mattis mi. Nullam non venenatis nunc. Maecenas pharetra, tortor eu malesuada laoreet, tellus tellus volutpat ligula, a tristique nisi quam eget enim. Morbi gravida eget ipsum vitae tincidunt. In quis vestibulum diam, nec rutrum ligula. Donec sagittis pretium urna a congue. In sit amet ullamcorper nulla. Nulla facilisi.</p>
      <%= render :file => '/devise/registrations/new' %>
    </div>
  </div>
</div>
