<h1>Bienvenido</h1>

<p><strong>Información</strong></p>
<p>Esta página es para compartir obras de arte extraordinarias, de cualquier época o género. Rarunas a ser posible. Se valorarán especialmente los datos pedantes, los cuadros de más de doscientos años y pinturas bizarras tipo Altdorfer, pero también hay sitio para videoarte, mierda enlatada, vírgenes de Murillo y cualquier pijada que os emocione. La sensibilidad no nos da pudor. Simplemente sean elegantes y eviten memes, gifs insustanciales e inmundicias virales de esas con las que somos bombardeados cada día.</p>

<p><strong>El código</strong></p>
<ol>
<li>Animamos a todos los usuarios a denunciar aquellos posts demasiado obvios, como de cinturón blanquiamarillo del arte, para su eliminación. Con esto quiere decirse que es aceptable postear cualquier cosa archiconocida, incluso una imagen de la Mona Lisa, pero solo a cambio de que quien publique aporte un comentario interesante y esclarecedor. No es lícito aburrir a la gente con lo que ya sabe.</li>

<li>Lo vulgar será automáticamente eliminado y quien postee cosas vulgares será expulsado. Qué es vulgar? Me temo que eso es algo absolutamente subjetivo y sujeto al criterio del sanedrín de administradores, pero sirva el sentido común como guía para discernir entre lo que suscite curiosidad, emoción o miedo y lo que provoque hartazgo.</li>

<li>El tema del grupo es el arte, que es de los temas más abiertos y difíciles de definir que hay. Cabe mucho, siempre que haya intención artística: lo mismo un bordado de su abuela, que una pintura de Velázquez, un cortometraje ruso o un dibujo de su hija. Pero por favor, líbrennos de memes, videos de chorradas, gifs de pelis malas de terror, etc...</li>

<li>El objeto del grupo es ser sorprendidos y alimentados por artefactos que nos hagan pensar y/o sentir: sean ambiciosos, no nos quedemos en lo repugnante o lo escandaloso, tratemos de ir un poco más lejos. Tampoco nos comamos la olla por ser excesivamente profundos y cargados de sentido, a menudo es en lo efímero, lo frívolo y lo sencillo se encuentran las cosas más asombrosas. </li>

<li>El objeto con el que fue creado este grupo, que va camino de los 30000 seguidores, era el de presentar una visión del arte como algo lúdico, inclusivo, capaz de responder a cualquier pregunta, tentación o inquietud de un hombre o de una mujer, por extraña o peregrina que ésta fuera. No hace falta saber nada de arte para estar aquí o para colgar cosas, sólo se requiere tener una mirada hambrienta.</li>

<li>Por favor, antes de abrir nuevos hilos, escarben un poco en lo que hay, que ya es mucho y hemos discutido sobre muchas cosas. Sobre todo, evitemos nuevos hilos sobre David Nebreda, Cornella, Divine o sobre la definición de la RAE de la palabra bizarro. Esto será motivo de expulsión inmediata.</li>

<li>Por último, serán especialmente perseguidas todos los posts o comentarios que expresen intolerancia, homofobia, machismo así como las opiniones políticas. Aquí caben todos.</li>
</ol>
<p>Nuestros grandes hits están también en Instagram: <%=link_to "@bizarrobello", "http://www.instagram.com/bizarrobello" %></p>
